@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Euphoria+Script&family=Montserrat&display=swap');

/* font-family: 'Cambo', serif;
font-family: 'Euphoria Script', cursive;
font-family: 'Montserrat', sans-serif; */

body{
    /* background-color: #001219; */
    background-color: #d8d8d8;
}